@import "../node_modules/bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
  font-family: "sahel";
  font-weight: bold;
}
.sahel-b {
  font-family: "sahel bold";
}
.sahel-bl {
  font-family: "sahel black";
}
